<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" >
    <title>Navigation</title>
</head>
<body>
    <nav>
        <div class="logo">
            <h4><a href="home">The Nav</a></h4>
        </div>
        <ul class="nav-links">
            <li><a href="/view/index.html">Home</a></li>
            <li><a href="/view/about.html">About</a></li>
            <li><a href="/view/work.html">Work</a></li>
            <li><a href="/view/project.html">Project</a></li>
            <li><a href="/view/contact.html">Contact</a></li>
       </ul>
       <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
       </div>
    </nav>
    <div class="section">
        <div class="container">
           <div class="image-section">
                <img src="/image/profile.jpg" alt="no image found">
           </div>
           <div class="content-section">
                <div class="title">
                    <p>About Me</p>
                </div>
                <div class="content">
                    <h3>Mark Ocariza</h3>
                    <p> I'm Software Developer with 2 years up experience until present both Backend and Frontend Development with the Framework ASP.net core, ASP.net core mvc, 
                        ASP.net MVC framework 4.0 up, ASP.net framework 4.0 up, EF core, WinForm, Javascript, JQuery, HTML5, CSS, SQL server <span class="hiddenP" hidden> and deep understanding in Web API with JWT, 
                        Web Service Method, 4 Pilars of OOP, SOLID Principle of OOP, Dapper with the tools of Visual Studio,Postman, Azure DevOps, Github. Have a strong personality in team work , friendly 
                        and fun with the collegue or team and pleasant to learn new skillsets.    
                        </span>
                    </p>
                    <a href="#" class="readless">Read More</a>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/Meantup"><i class="fab fa-facebook"></i></a>
                    <!-- <a href="https://github.com/meantup"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/mark-ocariza-040865204/"><i class="fab fa-linkedin"></i></a> -->
                    <a href="https://www.instagram.com/mcocariza"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/mcocariza"><i class="fab fa-twitter"></i></a>
                </div>
           </div>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>
</html>